@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #6cff6c;
}
::-webkit-scrollbar-thumb {
  background: #2fc4ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}